---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Museumsgasthof - Start">

  <div class="info-box">
    <h4 class="section-title">Webseiten-Update</h4>
    <p class="paragraph">Liebe Gäste,</p>
    <p class="paragraph">wir freuen uns, Ihnen mitteilen zu können, dass sich der Betreiber*in des Museumsgasthofs geändert hat.Bitte haben Sie Verständnis dafür, dass unsere Webseite derzeit noch in Arbeit ist.</p>
    <p class="paragraph"></p>
    <p class="paragraph">Ihr neues Team des Museumsgasthofs <br>
      Familie Nicolae und Corina Samoila</p>
  </div>

  <img class="intro-image" src="/images/central.jpg" alt="Zentrale Ansicht des Gasthofs">

  <div class="events">
    <h4></h4>
    <h4>Öffnungszeiten<br>
      Di-Fr: 14-21 Uhr<br>
      Sa, So: 12-21 Uhr<br>
  	  Mo: Ruhetag </h4>
  </div>

  <img class="haus-image" src="/images/haus.jpg" alt="Zentrale Ansicht des Gasthofs">

  <h2 class="hidden">Willkommen im Museumsgasthof</h2>
  <p class="intro-text">Der Museumsgasthof ist ein traditionsreiches Haus mit einer langen Geschichte. 
    Wir bieten regionale Spezialitäten und ein gemütliches Ambiente. Wir freuen uns auf Gruppen und Familienfeiern! <br><br>
    </p>
  
  <h2>Unsere Räume</h2>
  <div class="raeume">

    <img src="/images/raum1.jpg" alt="Raum 1" class="raum-image">
    <p>Stube mit Kachelofen, Theke: <span>30 Plätze</span></p>
    
    <img src="/images/raum2.jpg" alt="Raum 2" class="raum-image">
    <p>Ratsherrenzimmer mit Kachelofen, Renaissance: <span>20 Plätze</span></p>

    <img src="/images/raum3.jpg" alt="Raum 3" class="raum-image">
    <p>großer Saal mit Terrasse: <span>80 Plätze</span></p>

  </div>

</Layout>
