---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Kontakt - Museumsgasthof">
  <div class="info-box">
    <h1 class="main-heading">Kontakt</h1>
    <p class="contact-info"><strong>Museumsgasthof</strong><br>
      Im Städtle 3<br>
      74541 Vellberg</p>
    
    <p class="contact-info mt-4"><a href="tel:+4915163162350">0151 / 63162350</a><br>
    <a href="mailto:perlasamco@gmail.com" class="contact-link">perlasamco@gmail.com</a></p>
  </div>
</Layout>
