---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Kontakt - Museumsgasthof">
  <h1 class="main-heading">Kontakt</h1>
  <p class="contact-info"><strong>Museumsgasthof</strong><br>
  Musterstraße 123<br>
  12345 Musterstadt</p>
  
  <p class="contact-info mt-4"><strong>Telefon:</strong> 0123 / 456789<br>
  <strong>E-Mail:</strong> <a href="mailto:info@museumsgasthof.de" class="contact-link">info@museumsgasthof.de</a></p>
</Layout>
