---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Speisekarte - Museumsgasthof">
  <div class="info-box">
    <h1 class="main-heading">Unsere Speisekarte</h1>
    <p class="subheading">Genießen Sie unsere Auswahl an deutschen Gerichten und rumänischen Spezialitäten.</p>
  </div>
</Layout>
