---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Speisekarte - Museumsgasthof">
  <h1 class="main-heading">Unsere Speisekarte</h1>
  <p class="subheading">Genießen Sie unsere Auswahl an regionalen und saisonalen Gerichten:</p>
  <ul class="menu-list">
    <li>Schweinebraten mit Knödeln</li>
    <li>Hausgemachter Apfelstrudel</li>
    <li>Tagesfrische Salate</li>
  </ul>
  <a href="/speisekarte.pdf" target="_blank" class="pdf-link">Speisekarte als PDF anzeigen</a>
</Layout>
