---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Speisekarte - Museumsgasthof">
  <h1 class="main-heading">Unsere Speisekarte</h1>
  <p class="subheading">Genießen Sie unsere Auswahl an deutschen Gerichten und rumänischen Spezialitäten.</p>

</Layout>
