---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Über - Museumsgasthof">
  <h1 class="main-heading">Über das Restaurant</h1>
  <p class="subheading">Der Museumsgasthof besteht seit über 100 Jahren und wird bereits in der dritten Generation familiengeführt. Unsere Gäste schätzen die traditionelle Küche, die regionale Ausrichtung sowie die historische Einrichtung, die an vergangene Zeiten erinnert.</p>
</Layout>
