---
import Layout from '../layouts/BaseLayout.astro';
---
<Layout title="Über - Museumsgasthof">
  <h1 class="main-heading">Über das Restaurant</h1>
  <p class="subheading">Stube mit Kachelofen, Theke: 30 Plätze</p>
  <p class="subheading">Ratsherrenzimmer mit Kachelofen, Renaissance: 20 Plätze</p>
  <p class="subheading">großer Saal mit Terrasse: 80 Plätze</p>
</Layout>
