---
const { currentPath } = Astro.props;
---
<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="Museumsgasthof Logo" class="logo-image">
        <h1>Museumsgasthof <br>Ochsen</h1>
      </a>
    </div>
    
    <!-- Navigationslinks -->
    <ul class="nav-links">
      <li class="border-button"><a href="/speisekarte.pdf" target="_blank" rel="noopener noreferrer"><h3>Speisekarte</h3></a></li>
      <li ><a href="/kontakt" class="border-button" class={currentPath === '/kontakt' ? 'active' : ''}><h3 class="border-button">Kontakt</h3></a></li>
    </ul>

  </div>
</nav>
